<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/global.css">
</head>

<body>
  <div class="header">
    <div class="content-desktop">
      <div style="text-align:center;">
    <a href="global_layout.html"><img src="../assets/logo.png" style="width:3.552325351323%"></a>
  
      </div>
        <p style="position:fixed;top:0;left:0;margin:0;">
          <a class="special-button noborder" href="/bots/@me">My bots</a>

            <a class="special-button noborder" href="/bots/@unapproved">Unapproved bots</a>

          <a class="special-button noborder" href="botregister.html">Register bot</a>
        </p>

      <p style="position:fixed;top:0;right:0;margin:0;">

          <a class="special-button noborder" href="/discorddeauth">Logout</a>

          <a class="special-button noborder" href="/discordauth">Login</a>
        <a class="special-button noborder" href="{%COMMUNITY%}" style="background-color:#7289da;">Join our Discord</a>
      </p>
    </div>
    <div class="content-mobile">
      <p style="text-align:left;">
        <a class="special-button noborder" href="menu.html" style="font-size:40px;padding:unset;margin:unset;background-color:transparent;">&#9776;</a>
      </p>
    </div>
  </div>
  <br><br><br><br>
</body>

</html>
